@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Preahvihear&display=swap");

.dm-san{
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}
